a {
  text-decoration: none;
}

h1 {
  font-family: Staatliches;
  font-size: 80px;
}

#category {
  font-family: Staatliches;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  /* font-size: 22px; */
  /* font-size: 1.375rem; */
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

.product-actions {
  max-width: 400px;
}

.h-500 {
  height: 550px;
}

.h-574 {
  height: 574px;
}

.mw-150px {
  max-width: 180px;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Staatliches;
}

.form-control-plaintext {
  padding: 10px 15px;
}

.form-control-plaintext.focus {
  border: 1px solid darkgray;
  border-radius: 5px;
}

.form-control-plaintext:focus-visible {
  outline: none;
}

.form-control-plaintext.focus:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

.uk-navbar-nav {
  z-index: 1;
}

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.user-options {
  transition: all .5s;
  transform: translateY(-150px);
  /* height: 200px; */
  opacity: 1;
  /* visibility: hidden; */
}

.user-options.hidden {
  opacity: 0;
  transition: all .5s;
  transform: translateY(100px);
}

.user-options-buttons {
  display: flex;
    align-items: center;
    padding: 5px 10px;
}

.user-options-img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.dropdown-toggle::after {
  margin-left: 0.555em;
}

@keyframes dropdown-toggle {
  0% {
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    display: block;
    inset: 0px 0px auto auto;
  }

  90% {

  }
  
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.dropdown-menu {
  transform: translate(0px, -96px);
  transition: all .5s;
  z-index: -1;

}

.dropdown-menu.show {
  animation: dropdown-toggle .5s;

}